In [2]:
"""Преобразуем json-файл в датафрейм"""
import pandas as pd
import json

with open('hh_IT_month.json', 'r') as file:
    df1 = pd.json_normalize(json.load(file))

In [2]:
df1

,id,premium,name,department,has_test,response_letter_required,salary,address,response_url,sort_point_distance,...,address.metro.line_name,address.metro.station_id,address.metro.line_id,address.metro.lat,address.metro.lng,employer.logo_urls,department.id,department.name,insider_interview.id,insider_interview.url
0,55256759,False,Графический дизайнер,NaN,False,False,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55256585,False,SMM-копирайтер,NaN,False,True,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55257018,False,Project Manager,NaN,False,False,NaN,NaN,None,None,...,Сокольническая,1.134,1,55.789282,37.679895,NaN,NaN,NaN,NaN,NaN
3,55257259,False,"Инженер- механик, наладчик производственного о...",NaN,False,False,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55257184,False,Главный дизайнер продукта,NaN,False,False,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79346,55466654,False,Консультант - методолог 1С: УХ,NaN,False,False,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79347,55296794,False,Инженер проекта 1 категории по направлению АСУ Э,NaN,True,False,NaN,NaN,None,None,...,Серпуховско-Тимирязевская,9.10,9,55.583477,37.596999,NaN,NaN,NaN,NaN,NaN
79348,55853635,False,Senior Android Developer,NaN,False,False,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79349,50254641,False,"Senior Software Engineer GO (to Bulgaria, Serbia)",NaN,False,False,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79350,55582634,False,QA Automation Engineer (JS / C#),NaN,False,False,NaN,NaN,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df1.to_csv('hh_IT_month.csv')

In [11]:
with open('hh_MEDIA_month.json', 'r') as file:
    df2 = pd.json_normalize(json.load(file))

In [12]:
df2

,id,premium,name,department,has_test,response_letter_required,response_url,sort_point_distance,published_at,created_at,...,address.metro.line_name,address.metro.station_id,address.metro.line_id,address.metro.lat,address.metro.lng,salary,department.id,department.name,insider_interview.id,insider_interview.url
0,55260585,False,Ретушер,NaN,False,False,None,None,2022-05-06T17:28:40+0300,2022-05-06T17:28:40+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55260930,False,Инструктор-аниматор лазертаг,NaN,False,False,None,None,2022-05-06T17:41:57+0300,2022-05-06T17:41:57+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55260537,False,Конструктор одежды (женский трикотаж),NaN,False,False,None,None,2022-05-06T17:28:19+0300,2022-05-06T17:28:19+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55260671,False,Дизайнер полиграфии в типографию,NaN,False,False,None,None,2022-05-06T17:28:59+0300,2022-05-06T17:28:59+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55260532,False,Технолог мебельного производства,NaN,False,False,None,None,2022-05-06T17:28:13+0300,2022-05-06T17:28:13+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8564,66496172,False,Выездной дизайнер-консультант (кухни),NaN,False,False,None,None,2022-06-03T23:54:47+0300,2022-06-03T23:54:47+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8565,54573658,True,Швея-портной,NaN,False,False,None,None,2022-06-03T23:55:58+0300,2022-06-03T23:55:58+0300,...,Сокольническая,1.60,1,55.780014,37.666097,NaN,NaN,NaN,NaN,NaN
8566,54582991,True,Конструктор одежды Premium класса,NaN,False,False,None,None,2022-06-03T23:55:38+0300,2022-06-03T23:55:38+0300,...,Сокольническая,1.60,1,55.780014,37.666097,NaN,NaN,NaN,NaN,NaN
8567,55205911,True,Портная/портной по коже,NaN,False,False,None,None,2022-06-03T23:55:47+0300,2022-06-03T23:55:47+0300,...,Сокольническая,1.60,1,55.780014,37.666097,NaN,NaN,NaN,NaN,NaN
8568,48979614,True,Руководитель швейного цеха производства одежды...,NaN,False,False,None,None,2022-06-03T23:55:23+0300,2022-06-03T23:55:23+0300,...,Сокольническая,1.60,1,55.780014,37.666097,NaN,NaN,NaN,NaN,NaN

In [13]:
df2.to_csv('hh_MEDIA_month.csv')

In [3]:
with open('hh_SECURITY_month.json', 'r') as file:
    df3 = pd.json_normalize(json.load(file))

In [4]:
df3

,id,premium,name,department,has_test,response_letter_required,address,response_url,sort_point_distance,published_at,...,address.metro.station_name,address.metro.line_name,address.metro.station_id,address.metro.line_id,address.metro.lat,address.metro.lng,department.id,department.name,insider_interview.id,insider_interview.url
0,55262270,False,Полицейский,NaN,False,False,NaN,None,None,2022-05-06T19:47:15+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55262513,False,Охранник,NaN,False,False,NaN,None,None,2022-05-06T20:51:32+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46658012,False,Бухгалтер-ревизор,NaN,False,False,NaN,None,None,2022-05-06T20:39:34+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55262603,False,Полицейский в специальный полк полиции,NaN,False,False,NaN,None,None,2022-05-06T21:18:39+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55262606,False,Полицейский,NaN,False,False,NaN,None,None,2022-05-06T21:18:54+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19614,66496080,False,Специалист по охране труда и технике безопасности,NaN,False,False,NaN,None,None,2022-06-03T23:23:49+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19615,66594149,False,"Начальник караула, г. Покров",NaN,False,False,NaN,None,None,2022-06-03T23:45:43+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19616,55447254,False,Директор по безопасности,NaN,True,False,NaN,None,None,2022-06-03T23:26:20+0300,...,Тульская,Серпуховско-Тимирязевская,9.142,9,55.70961,37.622569,NaN,NaN,NaN,NaN
19617,50719896,False,Полицейский,NaN,False,False,NaN,None,None,2022-06-03T23:20:09+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19618,55390959,False,"Охранник на парки, строительные и офисные объекты",NaN,False,True,NaN,None,None,2022-06-03T23:25:25+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df3.to_csv('hh_SECURITY_month.csv')

In [1]:
with open('hh_PUBLIC_SERVICE_month.json', 'r') as file:
    df4 = pd.json_normalize(json.load(file))

NameError: name 'pd' is not defined

In [7]:
df4

,id,premium,name,department,has_test,response_letter_required,address,response_url,sort_point_distance,published_at,...,address.metro.lng,address.metro_stations,address.id,employer.logo_urls.original,employer.logo_urls.90,employer.logo_urls.240,address.metro,salary,department.id,department.name
0,55262650,False,Военнослужащий по контракту (Сотрудник пограни...,NaN,False,False,NaN,None,None,2022-05-06T21:37:13+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51831697,False,Инструктор-кинолог,NaN,False,False,NaN,None,None,2022-05-07T02:24:35+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,47541060,False,Полицейский отделения охраны и конвоирования,NaN,False,False,NaN,None,None,2022-05-07T13:37:03+0300,...,60.600816,"[{'station_name': 'Уральская', 'line_name': 'С...",2421306,https://hhcdn.ru/employer-logo-original/627543...,https://hhcdn.ru/employer-logo/2951324.jpeg,https://hhcdn.ru/employer-logo/2951325.jpeg,NaN,NaN,NaN,NaN
3,30851355,False,Полицейский,NaN,False,False,NaN,None,None,2022-05-07T14:09:16+0300,...,37.717444,"[{'station_name': 'Авиамоторная', 'line_name':...",1114182,https://hhcdn.ru/employer-logo-original/527205...,https://hhcdn.ru/employer-logo/2550297.jpeg,https://hhcdn.ru/employer-logo/2550298.jpeg,NaN,NaN,NaN,NaN
4,55265275,False,Кинолог,NaN,False,False,NaN,None,None,2022-05-07T16:49:21+0300,...,NaN,NaN,NaN,https://hhcdn.ru/employer-logo-original/955199...,https://hhcdn.ru/employer-logo/4261324.png,https://hhcdn.ru/employer-logo/4261325.png,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3031,53125610,False,Военнослужащий по контракту,NaN,False,False,NaN,None,None,2022-06-03T21:40:47+0300,...,NaN,[],7342393,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3032,42973480,False,Оперативный дежурный дежурной части ОМВД Росси...,NaN,False,False,NaN,None,None,2022-06-03T21:38:42+0300,...,NaN,[],3108946,https://hhcdn.ru/employer-logo-original/685715...,https://hhcdn.ru/employer-logo/3183992.jpeg,https://hhcdn.ru/employer-logo/3183993.jpeg,NaN,NaN,NaN,NaN
3033,53125906,False,Военнослужащий по контракту,NaN,False,False,NaN,None,None,2022-06-03T21:40:47+0300,...,NaN,[],7342405,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3034,53125572,False,Военнослужащий по контракту,NaN,False,False,NaN,None,None,2022-06-03T21:40:48+0300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3035,66594142,False,Водитель пожарного автомобиля,NaN,False,False,NaN,None,None,2022-06-03T23:41:55+0300,...,NaN,[],1537713,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df4.to_csv('hh_PUBLIC_SERVICE_month.csv')